.container {
  margin: 20px 0;

}

mat-toolbar button {
  margin-left: auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  mat-card {
    flex: 1;
    margin: 5px
  }
}

.space {
  padding: 0 2vw;
}

$breakpoint-tablet: 768px;
@media (min-width: $breakpoint-tablet) {
  .space { padding: 0 30vw !important }
}

